/node_modules
/vendor
/.env
/.env.backup
/.env.production
/.git
/.gitignore
/.idea
/.vscode
/storage/logs/*
/storage/framework/cache/*
/storage/framework/sessions/*
/storage/framework/views/*
*.log
Thumbs.db
.DS_Store
